<div class="navbar navbar-inverse navbar-fixed-top">
  <div class="container"> <!-- You need this DIV for alignment -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to 'Professor Manager', root_path, class: 'navbar-brand' %>

    </div>
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li>
          <%= link_to 'Professors', professors_path %>
        </li>
        <li>
          <%= link_to 'Students', students_path %>
        </li>
        <li>
          <%= link_to 'Subjects', subjects_path %>
        </li>
        <li>
          <%= link_to 'Enrolements', student_subjects_path %>
        </li>
      </ul>
    </div>
  </div>
</div>
